@font-face {
    font-family: 'Montserrat-Light-300';
    src: url(font/Montserrat-Light.ttf);
}
@font-face {
    font-family: 'Montserrat-Regular-400';
    src: url(font/Montserrat-Regular.ttf);
}
@font-face {
    font-family: 'Montserrat-Bold-700';
    src: url(font/Montserrat-Bold.ttf);
}
@font-face {
    font-family: 'Roboto-Light-300';
    src: url(font/Roboto-Light.ttf);
}
