@import 'base/base';
@import 'base/fonts';


.container {
    width: 1440px;
    margin: 0 auto;
}

.header {
    width: 1440px;
    height: 700px;
    background-image: url(images/Background.png);
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    margin: 0 auto;

    &-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 40px 291px 0 248px;

        &-left {
            width: 152px;
            height: 24px;
            font-family: 'Montserrat-Bold-700';
            font-style: normal;
            font-size: 20px;
            line-height: 24px;
            text-transform: uppercase;
            padding-top: 5px;
        }

        &-right {
            display: flex;
            flex-direction: row;
            font-family: 'Montserrat-Regular-400';

            .login {
                width: 44px;
                height: 17px;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                margin-top: 11px;
                margin-right: 19px;
            }

            .sign-up {

                border: 2px solid #FFFFFF;
                box-sizing: border-box;
                border-radius: 40px;
                width: 90px;
                height: 36px;
                padding: 9px 15px;



                &-a {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 17px;
                    text-decoration: none;
                    color: #FFFFFF;
                    box-sizing: border-box;
                }
            }
        }
    }

    &-bottom {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-self: center;

        &-title {
            width: 470px;
            height: 126px;
            font-family: 'Montserrat-Bold-700';
            font-style: normal;
            font-size: 52px;
            line-height: 63px;
            text-align: center;
            margin-top: 147px;
        }

        &-text {
            width: 396px;
            height: 25px;
            font-family: 'Roboto-Light-300';
            font-style: normal;
            font-weight: 300;
            font-size: 24px;
            line-height: 24px;
            display: flex;
            align-items: stretch;
            text-align: center;
            color: #F7F3F2;
            margin: 28px 0px 0 35px;
            word-spacing: 0.1px;
            // letter-spacing: 0.5px;
        }

        &-button {
            width: 225px;
            height: 40px;
            background-color: #FF4E50;
            border-radius: 40px;
            margin: 33px auto 0;
            padding: 14px 18.5px 11px 19.5px;

            .button-text {
                width: 187px;
                height: 17px;
                font-family: 'Montserrat-Bold-700';
                font-size: 14px;
                line-height: 17px;
                text-decoration: none;
                color: #FFFFFF;
            }
        }
    }
}

section {
    background-color: #FFFFFF;
}

.section-1 {
    width: 940px;
    height: 461px;
    margin: 95px auto 0;
    display: flex;
    flex-direction: column;

    &-title {
        width: 342px;
        height: 32px;
        font-size: 26px;
        line-height: 21px;
        font-family: 'Montserrat-Bold-700';
        display: block;
        margin: 0 auto;
        text-align: center;
        color: #444444;
    }

    &-bottom {
        width: 940px;
        height: 400px;
        margin-top: 35px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: #FFFFFF;


        &-left {
            width: 300px;
            height: 400px;
            display: flex;
            flex-direction: column;
            background-image: url(images/image_left.png);
            padding: 219px 25px 21px 25px;

            .step {
                width: 70px;
                height: 20px;
                background: #FF4E50;
                border-radius: 40px;
                padding: 2px 0px 3px 14px;
                margin-bottom: 22px;

                .step1 {
                    width: 42px;
                    height: 12px;
                    font-family: 'Montserrat-Regular-400';
                    font-size: 10px;
                    line-height: 12px;
                    letter-spacing: 1.5px;
                    text-decoration: none;
                    color: #FFFFFF;
                }
            }

            .bold-text {
                width: 250px;
                height: 58px;
                font-family: 'Montserrat-Bold-700';
                font-size: 24px;
                line-height: 26px;
            }

            .normal-text {
                display: flex;
                width: 250px;
                height: 57px;
                font-family: 'Roboto-Light-300';
                font-size: 14px;
                line-height: 14px;
                color: #E3E3E3;
                margin-top: 25px;
                letter-spacing: 0.5px;
            }
        }

        &-middle {
            @extend .section-1-bottom-left;
            background-image: url(images/image_right.png);
            padding-top: 250px;

            .margin {
                margin-top: 20px;
            }

            .step-2 {
                @extend .step;
            }
        }

        &-right {
            @extend .section-1-bottom-left;
            background-image: url(images/image_middle.png);

        }
    }
}

.section-2 {
    @extend .section-1;
    height: 456px;

    &-title {
        @extend .section-1-title;
        width: 491px;
        height: 32px;
    }

    &-main {
        @extend .section-1-bottom;
        height: 205px;
        margin-top: 41px;

        &-box {
            width: 221px;
            height: 205px;
            display: flex;
            flex-direction: column;

            .photo {
                width: 120px;
                height: 120px;
                margin: 0 auto 0px;
            }

            .photo-1 {
                @extend .photo;
                background-image: url(images/Avatar-one.png);
            }

            .name {
                width: 221px;
                height: 18px;
                font-size: 14px;
                line-height: 17px;
                text-align: center;
                font-family: 'Montserrat-Bold-700';
                color: #444444;
                padding-top: 19px;

            }

            .text {
                // @extend .normal-text; dont work
                display: flex;
                width: 221px;
                height: 38px;
                color: #666666;
                font-family: 'Roboto-Light-300';
                font-size: 14px;
                line-height: 14px;
                margin: 29px 0 0 1px;
                text-align: center;
                padding-top: 9px;
            }
        }

        .section-2-main-box-2 {
            @extend .section-2-main-box;
            height: 224px;

            .text-2 {
                @extend .text;
                height: 57px;
            }
        }

    }

    .photo-2 {
        background-image: url(./images/Avatar.png);
        @extend .photo;
    }

    .photo-3 {
        background-image: url(./images/Avatar-three.png);
        @extend .photo;
    }

    .photo-4 {
        background-image: url(./images/Avatar-last.png);
        @extend .photo;
    }
}

.section-2-bottom {
    width: 180px;
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #FF4E50;
    box-sizing: border-box;
    border-radius: 40px;
    padding: 12px 9px 11px 24px;
    margin: 54px auto 95px;

    .see-partners {
        width: 137px;
        height: 17px;
        font-family: 'Montserrat-Bold-700';
        font-size: 14px;
        line-height: 17px;
        color: #FF4E50;
        text-decoration: none;
    }
}

.section-3 {
    @extend .section-1;
    height: 1031px;
    margin-top: 0;


    &-title {
        @extend .section-1-title;
        width: 413px;
        height: 32px;
    }

    &-main {
        width: 940px;
        height: 970px;
        display: flex;
        flex-direction: column;
        margin-top: 29px;

        .row-1 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 940px;
            height: 310px;
            margin-bottom: 20px;

            &-left {
                width: 300px;
                height: 310px;
                background-image: url(images/Sport.png);
            }

            &-middle {
                @extend .row-1-left;
                background-image: url(images/Healath.png);
            }

            &-right {
                @extend .row-1-left;
                background-image: url(images/Extreme.png);
            }
        }

        .row-2,
        .row-3 {
            @extend .row-1;
        }

        .row-2-left {
            @extend .row-1-left;
            background-image: url(images/Games.png);
        }

        .row-2-right {
            width: 620px;
            height: 310px;
            background-image: url(images/Culture.png);
        }

        .row-3-left {
            @extend .row-2-right;
            background-image: url(images/Culture-Copy.png);
        }

        .row-3-right {
            @extend .row-1-left;
            background-image: url(images/GamesCopy.png);
        }
    }
}

.section-4 {
    @extend .section-3;
    width: 482px;
    height: 253px;
    margin-bottom: 100px;

    &-title {
        @extend .section-1-title;
        width: 358px;
        height: 32px;
        margin-top: 96px;
        margin-bottom: 46px;
    }

    &-text {
        width: 415px;
        height: 24px;
        font-family: 'Roboto-Light-300';
        font-size: 18px;
        line-height: 14px;
        text-align: center;
        margin-left: 35px;
    }

    &-bottom {
        width: 482px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 15px;

        .input {
            width: 299px;
            height: 40px;
            padding-left: 11px;
            font-size: 14px;
            padding-top: 6px;
        }

        .section-4-button {
            width: 172.12px;
            height: 40px;
            background: #FF4E50;
            border-radius: 40px;
            padding: 13px 0px 0 28px;

            .search-partners {
                width: 117px;
                height: 17px;
                font-family: 'Montserrat-Bold-700';
                font-size: 14px;
                line-height: 17px;
                color: #FFFFFF;
                text-decoration: none;

            }
        }
    }
}

footer {
    background-color: #FFFFFF;
    border-top: 2px solid #FF4E50;
}

.footer {
    width: 940px;
    height: 224px;
    margin: 37px auto;
    display: flex;
    flex-direction: row;


    .dreamshare {
        width: 119px;
        height: 20px;
        font-family: 'Montserrat-Regular-400';
        font-size: 16px;
        line-height: 20px;
        color: #FF4E50;
    }

    .company {
        width: 118px;
        height: 184px;
        display: flex;
        flex-direction: column;
        margin: 2px 121px 0 121px;
    }

    .company-title {
        width: 70px;
        height: 17px;
        font-family: 'Montserrat-Bold-700';
        font-size: 14px;
        line-height: 17px;
        color: #444444;
        margin-bottom: 10px;
    }

    .company-text {
        width: 114px;
        height: 156px;
        font-family: 'Roboto-Light-300';
        font-size: 14px;
        line-height: 26px;
        color: #999999;
    }


    .partners {
        @extend .company-title;
        width: 64px;
        margin: 2px 287px 0 0;
    }

    .designed-by {
        width: 110px;
        height: 46px;

    }

    .designed-text {
        width: 83px;
        height: 12px;
        font-family: 'Montserrat-Bold-700';
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 1px;
        color: #CCCCCC;

    }

    .logo {
        width: 110px;
        height: 24px;
        background-image: url(images/Bitmap.png);
        margin-top: 4px;
    }
}

@media screen and (max-width: 1400px) and (min-width: 768px) {
    .container {
        width: 768px;
    }

    .header {
        width: 768px;
        height: 700px;
        background-image: url(images/Background_middle.png);

        &-top {

            padding: 40px 50px 0 48px;

            &-left {
                padding-top: 5px;
            }

            &-right {
                display: flex;
                flex-direction: row;
                font-family: 'Montserrat-Regular-400';
            }
        }
    }

    .section-1 {
        width: 748px;
        height: 461px;
        margin: 95px auto 0;

    }

    .section-1-bottom {
        width: 748px;
    }

    .section-1-bottom-left {
        width: 236px;
        padding: 204px 23px 0px 21px;
        // margin-top: 25px;
        // margin-bottom: 4px;
    }

    .section-1-bottom-left .step {
        margin-bottom: 47px;
    }

    .section-1-bottom-left .bold-text {
        width: 196px;
        height: 58px;
        font-size: 24px;
        line-height: 14px;
    }

    .section-1-bottom-left .normal-text {
        width: 196px;
        height: 72px;
    }

    .section-1-bottom-middle .margin {
        margin-top: 21px;
    }

    .section-1-bottom-middle .step-2 {

        margin-bottom: 18px;
        margin-top: 50px;
    }

    .section-2 {
        width: 492px;
        height: 605px;
    }

    .section-2-main {
        width: 492px;
        height: 605px;
        display: flex;
        flex-wrap: wrap;
    }

    .section-2-main-box {
        width: 236px;
        margin-bottom: 54px;
    }

    .section-2-main .section-2-main-box-2 {
        margin-bottom: 0px;
    }

    .section-2-main-box .name {
        padding-left: 13px;
    }

    .section-2-main-box .text {
        width: 236px;
    }

    .reverse {
        display: flex;
        flex-direction: inherit;
    }

    .section-2-bottom {
        margin: 19px auto 95px;
    }

    .section-3 {
        height: 1031px;
    }

    .section-3-main {
        width: 748px;
        height: 997px;
        margin-top: 40px;
    }

    .section-3-main .row-1 {
        width: 748px;
    }

    .section-3-main .row-1-left {
        width: 236px;
        height: 310px;
    }

    .section-3-main .row-2-right {
        width: 492px;
        height: 310px;
    }

    .section-4 {
        width: 482px;
        height: 158px;
        margin: 97px auto 98px;
    }

    .section-4-title {
        margin-top: 0;
    }

    .section-4-bottom {
        height: 42px;
    }

    .section-1-title {
        font-size: 22px;
    }

    .footer {
        width: 768px;
        height: 224px;
    }

    .footer .dreamshare {
        margin-left: 40px;
    }

    .footer .company {
        margin: 2px 56px 0 106px;
    }

    .footer .partners {
        margin: 2px 116px 0 -2px;
    }

    .footer .designed-text {
        width: 102px;
        padding-left: 26px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 320px;
    }

    .header {
        width: 311px;
        height: 540px;
        background-image: url(images/Background-mobile.png);

        &-top {
            width: 153px;
            height: 157px;
            margin: 20px auto 0px;
            padding: 0px;
            flex-direction: column-reverse;


            &-left {
                width: 152px;
                height: 24px;
                padding-top: 0px;
                margin-left: 14px;
            }

            &-right {
                width: 153px;
                height: 36px;
                display: flex;
                flex-direction: row;
            }
        }

        .header-bottom {
            width: 281px;
            height: 234px;
            margin-left: 28px;
        }

        .header-bottom-title {
            width: 272px;
            height: 74px;
            font-size: 30px;
            line-height: 37px;
            margin-top: 27px;
        }

        .header-bottom-text {
            width: 280px;
            height: 49px;
            font-size: 18px;
            line-height: 24px;
            margin: 5px 0px 0 -3px;
        }

        .header-bottom-button {
            width: 280px;
            height: 40px;
            margin: 14px auto 0;
            padding: 12px 18.5px 11px 43.5px;
        }
    }

    .section-1 {
        width: 300px;
        height: 781px;
        margin: 34px auto 0;
    }

    .section-1-title {
        width: 289px;
        height: 27px;
        font-size: 22px;
        line-height: 27px;
    }

    .section-1-bottom {
        width: 300px;
        height: 739px;
        flex-direction: column;
        margin-top: 16px;
    }

    .section-1-bottom-left {
        width: 300px;
        height: 240px;
        padding: 63px 15px 17px 19px;
        background-image: url(images/image_left-mobile.png);

    }

    .section-1-bottom-left .step {
        margin-bottom: 46px;
    }

    .section-1-bottom-left .bold-text {
        height: 58px;
        line-height: 14px;
    }

    .section-1-bottom-middle {
        background-image: url(images/mid-mob.png);
        padding: 95px 15px 4px 20px;
    }

    .section-1-bottom-middle .step-2 {
        margin-bottom: 29px;
    }

    .section-1-bottom-middle .margin {
        margin-top: 25px;
    }

    .section-1-bottom-right {
        background-image: url(images/right-mob.png);
    }

    .section-2 {
        width: 300px;
        height: 1033px;
        margin: 36px auto 0;
    }

    .section-2-title {
        width: 280px;
        height: 54px;
    }

    .section-2-main {
        height: 884px;
        margin-top: 0px;
    }

    .section-2-main-box {
        width: 236px;
        height: 205px;
        margin: 15px auto 0;
    }

    .reverse .section-2-main-box-2 {
        height: 224px;
    }

    .section-2-main .reverse .section-2-main-box-2 .text-2 {
        padding-top: 14px;
    }

    .section-2-main-box .name {
        width: 236px;
    }

    .section-2-main-box .text {
        width: 236px;
        height: 38px;
        margin: 28px 0 0 0px;
        padding-top: 10px;
    }

    .reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .section-2-bottom {
        width: 280px;
        padding: 11px 9px 11px 73px;
    }

    .section-3 {
        height: 1010px;
    }

    .section-3-title {
        width: 280px;
        height: 54px;
        font-size: 22px;
        line-height: 27px;
    }

    .section-3-main {
        width: 300px;
        height: 902px;
        margin-top: 33px;
    }

    .section-3-main .row-1 {
        height: 390px;
        width: 300px;
        flex-direction: column;
        margin-bottom: 4px;
    }

    .section-3-main .row-1-left {
        width: 300px;
        height: 120px;
        background-image: url(images/Sport-mob.png);
        margin-bottom: 9px;
    }

    .section-3-main .row-1-middle {
        background-image: url(images/Healath-mob.png);
    }

    .section-3-main .row-1-right {
        background-image: url(images/Extreme-mob.png);
    }

    .section-3-main .row-2 {
        height: 256px;
    }

    .section-3-main .row-2-left {
        background-image: url(images/Games-mob.png);
    }

    .section-3-main .row-2-right {
        width: 300px;
        height: 120px;
        background-image: url(images/Culture-mob.png);
        margin-bottom: 9px;
    }

    .section-3-main .row-3-left {
        background-image: url(images/Culture-Copy-mob.png);
    }

    .section-3-main .row-3-right {
        background-image: url(images/Games-Copy-mob.png);
    }

    .section-4 {
        margin: 0 auto 0;
        height: 243px;
    }

    .section-4-title {
        width: 280px;
        height: 54px;
        font-size: 22px;
        line-height: 27px;
        margin: 12px auto 19px;
    }

    .section-4-text {
        margin-left: -56px;
    }

    .section-4-bottom {
        margin-top: 4px;
        flex-direction: column;
        width: 291px;
        height: 90px;
    }

    .section-4-bottom .input {
        width: 280px;
        height: 40px;
        margin: 0 0 10px 10px;
    }

    .section-4-bottom .section-4-button {
        width: 280px;
        height: 40px;
        margin-left: 10px;
        padding: 14px 0px 0 87px;
    }

    .footer {
        width: 320px;
        height: 204px;
        margin: 21px auto;
        flex-direction: column;
    }

    .footer .dreamshare {
        width: 119px;
        height: 20px;
        margin: 0 auto;
    }

    .footer .company {
        width: 280px;
        height: 70px;
        margin: 0 auto;
    }

    .footer .company-title {
        margin: 12px auto 0;
    }

    .footer .company-text {
        width: 280px;
        height: 52px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-left: 21px;
        width: 230px;


        .company-text-margin {
            display: block;
            margin-left: 10px;
        }
    }

    .footer .partners {
        margin: 19px auto 0;
    }

    .footer .designed-by {
        margin: 12px auto;
    }

    .footer .designed-text {
        padding-left: 15px;
    }
}